@use './variables' as a;


.headline-large {
    font-size: var(--fs-headline-large);
    line-height: var(--lh-headline-large);
    font-weight: a.$weight-bold;
    letter-spacing: a.$traking-n-025;
}

.headline-medium {
    font-size: var(--fs-headline-medium);
    line-height: var(--lh-headline-medium);
    font-weight: a.$weight-bold;
}

.headline-small {
    font-size: var(--fs-headline-small);
    line-height: var(--lh-headline-small);
    font-weight: a.$weight-bold;
}

.title-large {
    font-size: a.$fs-title-large;
    line-height: a.$lh-title-large;
    font-weight: a.$weight-semiBold;
}

.title-medium {
    font-size: a.$fs-title-medium;
    line-height: a.$lh-title-medium;
    font-weight: a.$weight-semiBold;
}

.title-small {
    font-size: a.$fs-title-small;
    line-height: a.$lh-title-small;
    font-weight: a.$weight-semiBold;
}

.body-large {
    font-size: a.$fs-body-large;
    line-height: a.$lh-body-large;
    font-weight: a.$weight-regular;
}

.body-medium {
    font-size: a.$fs-body-medium;
    line-height: a.$lh-body-medium;
    font-weight: a.$weight-regular;
}

.label-medium {
    font-size: a.$fs-label-medium;
    line-height: a.$lh-label-medium;
    font-weight: a.$weight-semiBold;
    letter-spacing: a.$traking-p-05;
}

