
@use '../abstracts/variables' as a;

.card {
    border-radius: a.$radius-large;
    overflow: hidden;
    box-shadow: a.$shadow-2;
    transition: a.$transition-duration-quick a.$transition-easing-quick;

    &-banner {
        position: relative;

        .img-cover {
            transition: a.$transition-duration-smooth a.$transition-easing-quick;
        }
    }

    .badge {
        left: 20px;
    }

    .icon-btn {
        right: 20px;
        opacity: 0;
        visibility: hidden;
        scale: 0.8;
        transition: a.$transition-duration-quick a.$transition-easing-quick;
    }
}

.card:where(:hover, :focus-within) {
    box-shadow: a.$shadow-4;
}

.card:where(:hover, :focus-within) .img-cover {
    scale: 1.05;
    rotate: 2deg;
}

.card :where(.badge, .icon-btn){
    position: absolute;
    top: 20px;
}

.fav-btn {
    color: a.$error-100;
}

.fav-btn.active .material-symbols-rounded {
    font-variation-settings: 'FILL' 1;
}

.card:where(:hover, :focus-within) .icon-btn {
    scale: 1;
    opacity: 1;
    visibility: visible;
}

.card-content {
    padding: 20px 20px 24px;
}

.card-title {
    margin-block: 8px;
    color: a.$neutral-20;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: a.$transition-duration-quick a.$transition-easing-quick;
}

.card-title:where(:hover, :focus-visible) {
    color: a.$primary-100;
}

.card-text {
    color: a.$neutral-40;
}

.card-meta-list {
    padding-block-start: 16px;
    margin-block-start: 16px;
    border-block-start: 1px solid  a.$neutral-90;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 12px;
}

.card .meta-item {
    display: flex;
    align-items: center;
    gap: 4px;
    color: a.$neutral-20;
}