@use '../abstracts' as a;

.hero-banner {
    display: none;
}

.hero {
    position: relative;
    background-image: a.$gradient;
    color: a.$neutral-90;
    padding-block: 130px 60px;
    overflow: hidden;
    isolation:isolate;
}

.hero-title {
    color: a.$neutral-100;
}

.hero-text {
    margin-block: 16px 32px;
}

.search-bar {
    background: a.$white;
    display: grid;
    padding: 8px;
    gap: 8px;
    border-radius: 16px;
    box-shadow: a.$shadow-4;
}

.search-item {
    position: relative;
    color: a.$neutral-50;
}

.search-item .search-item-field {
    height: 76px;
    padding: 48px 16px 12px;
    border-radius: a.$radius-medium;
    transition: a.$transition-duration-quick a.$transition-easing-quick;
    cursor: pointer;
}

.search-item .search-item-field:where(:hover, :focus) {
    background-color: a.$neutral-95;
}

.search-item :where(.label, .material-symbols-rounded) {
    position: absolute;
    pointer-events: none;
}

.search-item .label {
    top: 12px;
    left: 16px;
    color: a.$neutral-5;
}

.search-item .material-symbols-rounded {
    top: 50%;
    right: 16px;
    translate: 0 -50%;
    color: a.$primary-100;
}

.search-btn {
    background: a.$primary-100;
    color: a.$neutral-100;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
    padding-inline: 24px;
    gap: 12px;
    border-radius: 12px;
    transition: a.$transition-duration-quick a.$transition-easing-quick;
}


.search-btn:where(:hover, :focus){
    background-color: a.$primary-80;
}
.search-btn:where(:active, :focus-visible){
    background-color: a.$primary-70;
}

.hero .bg-pattern {
    position: absolute;
    top: 50%;
    left: 25%;
    right: 0;
    translate: 0 -50%;
    min-height: 100%;
    pointer-events: none;
    z-index: -2;
}