@use '../abstracts/variables' as a;

.video-card {
    height: 260px;
    border-radius: 32px;
    background: linear-gradient(0deg, #0000004D, #0000004d), url(../img/video-card.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    place-items: center;
}

.play-btn{
    width: 72px;
    height: 72px;
    display: grid;
    place-items: center;
    background-color: a.$neutral-100;
    color: a.$primary-100;
    border-radius: a.$radius-circle;
    animation: pulse 1.5s a.$transition-easing-quick forwards infinite;
}

@keyframes pulse {
    0% {box-shadow:0 0 0 0 #ffffff80;}
    100% {box-shadow:0 0 0 20px #ffffff00;}
}

.play-btn .material-symbols-rounded {
    font-size: 4rem;
    font-variation-settings: 'FILL' 1;
}